<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br" >
    <head>
        {% block head %}
        <meta charset="utf-8">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>{{ title }}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <!-- Favicon caixa -->
        <link rel="icon" href="<?php echo base_url(); ?>/assets/img/favicon.ico" type="image/x-icon">

        <!-- jQuery UI CSS -->
        <link href="{{ base_url() }}assets/css/jquery-ui/css/redmond/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
      
        <!-- DataTables CSS -->
        <link href="{{ base_url() }}assets/css/datatables/media/css/jquery.dataTables.css" rel="stylesheet"> 
        <link href="{{ base_url() }}assets/css/datatables/media/css/jquery.dataTables_themeroller.css" rel="stylesheet">

        <!-- DataTables Tabletools -->
        <link href="{{ base_url() }}assets/js/DataTables-1.9.4/extras/TableTools/media/css/TableTools.css" rel="stylesheet"> 
        
        <!-- Bootstrap CSS -->
        <link href="{{ base_url() }}assets/css/bootstrap/dist/css/bootstrap.min.cerulean.css" rel="stylesheet">
      
        <!-- CSS da página -->
        <link href="{{ base_url() }}assets/css/gerat.css" rel="stylesheet">  

        <!-- jQuery  -->
        <script src="{{ base_url() }}assets/js/jquery.js"></script>

        <!-- Highchart jQuery  -->
        <script src="{{ base_url() }}assets/js/highcharts/js/highcharts.js"></script>
        <script src="{{ base_url() }}assets/js/highcharts/js/highcharts-more.js"></script>

        <!-- Script para permitir a exportação da tabela para o Excel -->
        <script type="text/javascript" charset="utf-8">
            $(function() {
                $('#table_export').dataTable( {
                    "sDom": 'T<"clear">lfrtip',
                    "oTableTools": {
                        "sSwfPath": "{{ base_url() }}assets/js/DataTables-1.9.4/media/swf/copy_csv_xls_pdf.swf"
                    },
                    "oLanguage": {
                        "sProcessing": "Aguarde enquanto os dados são carregados ...",
                        "sLengthMenu": "Mostrar _MENU_ registros por pagina",
                        "sZeroRecords": "Nenhum registro correspondente ao criterio encontrado",
                        "sInfoEmtpy": "Exibindo 0 a 0 de 0 registros",
                        "sInfo": "Exibindo de _START_ a _END_ de _TOTAL_ registros",
                        "sInfoFiltered": "",
                        "sSearch": "Procurar",
                        "oPaginate": {
                            "sFirst":    "Primeiro",
                            "sPrevious": "Anterior",
                            "sNext":     "Próximo",
                            "sLast":     "Último"
                        },
                    },
                    "bPaginate": false,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": true,
                    "bJQueryUI": true,            
                });
            });
        </script>
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <img id="logo" height="40" src="{{ base_url() }}assets/img/logo_caixa.png">
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li>{{ anchor('gerat/index', 'Home') }}</li>
                  <li>{{ anchor('Fundos/listaProdutosAtivos', 'Fundos/Carteiras') }}</li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Risco de Liquidez <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li>{{ anchor('RiscoLiquidez/pesquisaLiquidezDiaria', 'Consulta valor de liquidez diário') }}</li>
                      <li>{{ anchor('RiscoLiquidez/pesquisaNegociacaoAtivo', 'Consulta as últimas negociações de um ativo') }}</li>
                      <!-- <li class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                      -->
                    </ul>
                  </li>          
                  <!-- <li><a href="#about">Rotina Diária</a></li> -->
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rotina Diária <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li>{{ anchor('RotinaDiaria/consultaXmlNaoProcessados', 'Consulta XML não processados') }}</li>
                      <li>{{ anchor('RotinaDiaria/consultaDiferencasXml', 'Consulta diferenças XML') }}</li>
                      <li>{{ anchor('benchmarkController/index', 'Consulta benchmark') }}</li>
                      <!--
                      <li class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                      -->
                    </ul>
                  </li>
                  <!-- Controle de limties -->
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Risco de Mercado <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li>{{ anchor('Mercado/controleLimite', 'Controle limite') }}</li>
                      <!--
                      <li class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                      -->
                    </ul>
                  </li>
                  <!-- Relatórios -->
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li>{{ anchor('Relatorios/atribuicaoPerformance', 'Atribuição de performance') }}</li>
                      <!--
                      <li class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                      -->
                    </ul>
                  </li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
        </div>
        {% endblock %}
        <div class="container theme-showcase" id="container-theme-showcase">
        {% block content %}
        {% endblock %}
        </div><!-- /container -->
        <div id="footer">
        {% block footer %}
        <div class="container">
        </div>
        {% endblock %}
        </div>
        
        <!-- jQuery UI -->
        <script src="{{ base_url() }}assets/css/jquery-ui/js/jquery-ui-1.10.3.custom.min.js"></script>  
        <!-- jQuery Validation --> 
        <script src="{{ base_url() }}assets/js/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="{{ base_url() }}assets/js/jquery-validation/dist/additional-methods.min.js"></script>
        <script src="{{ base_url() }}assets/js/jquery-validation/localization/messages_PT_BR.js"></script>
        <!-- Funções da página -->
        <script src="{{ base_url() }}assets/js/gerat.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script src="{{ base_url() }}assets/css/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{{ base_url() }}assets/css/bootstrap/assets/js/holder.js"></script>
            <!-- Nestable jQuery -->
        <script src="{{ base_url() }}assets/js/jquery.nestable.js"></script>
            <!-- jQuery DataTables -->
        <script src="{{ base_url() }}assets/js/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
        <script src="{{ base_url() }}assets/js/DataTables-1.9.4/extras/TableTools/media/js/TableTools.min.js"></script>
        <script src="{{ base_url() }}assets/js/dataTables.data-eu.js"></script>
		<script src="{{ base_url() }}assets/js/css3-mediaqueries.js"></script>
    </body>
</html>