{% extends "_layouts/base.html.twig" %}

{% block content %}

<h2><p> {{ title }} </p></h2>

<table id="table_export" >
  <thead>
    <tr>
      <th>#</th>
      <th>CNPJ</th>
      <th>Nome</th>
      <th>Gestor</th>
      <th>#</th>
    </tr>
    </thead>
  <tbody>
    {% for produto in produtos %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ produto.CO_PRD }}</td>
        <td>{{ produto.NO_PRD }}</td>
        <td>{{ produto.CO_GRU_GESTAO }}</td>
        <td>{{ anchor(
            'Relatorios/relatorioRisco?co_prd=' ~ produto.CO_PRD ~ '&id_relatorio=1',
            'Relatório') }}
        </td>
    </tr>
    {% else %}
        <p> Nenhum fundo foi encontrado. </p>
    {% endfor %}
    <?php $i++; ?>
  </tbody>
</table>
{% endblock %}
