{% extends "_layouts/base.html.twig" %}

{% block navbar %}
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <img id="logo" height="40" src="{{ base_url() }}assets/img/logo_caixa.png">
              </div>
            </div>
        </div>
        {% endblock %}

{% block content %}

<style type="text/css">
  body {
    margin: 0; padding: 0; height: 100%; font-family: Arial; background: #ededed; width: 100%; height: 100%; overflow: hidden;
  }
  #box {
    width:710px;
    height:330px;
    margin: 0 auto; 
    background:#FFFFFF; 
    border: 1px solid #c3c3c3;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:-375px;
    margin-top:-185px;
    padding: 20px;
  }
  h1 {font-size: 33px; text-align:center; padding-top: 10px;  }
  p { margin-bottom:35px;}
  ul {
    list-style-type:none;
    margin:0 auto;
    text-align:center;
  }
  ul li {
    display:inline;
    margin:0 56px 0 auto;
    text-align:center;
    width:auto;
  }
  ul li img { border: 0;}
  
</style>

    <div id="geral">
      <div id="box">
            <h1><p> {{ title }} </p></h1>
            <p>A aplicação não é compatível com esse navegador. Por favor, utilize um 
dos navegadores abaixo para acessar a página.</p>
            <ul>
                <li><a href="http://br.mozdev.org/" target="_blank"><img src="{{ base_url() }}assets/img/aviso_firefox.gif"></a></li>

                <li><a href="http://www.google.com/chrome" target="_blank"><img src="{{ base_url() }}assets/img/aviso_chrome.jpg"></a></li>
            </ul>
      </div>
    </div>

{% endblock %}
