{% extends "_layouts/base.html.twig" %}

{% block content %}

    <p>Hello, I'm a template. PHP {{ phpversion() }}.</p>

    {% for album in albums %}
        <p> * {{ album }} </p>
    {% else %}
        <p> No users have been found. </p>
    {% endfor %}

    <p> http://twig.sensiolabs.org/ </p>

    <p> {{ cnpj }} </p>

{% endblock %}